@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");

body {
  background-image: none;
}

.gradientText {
  background: linear-gradient(to right, #f707e3, #00fc60);
  background-clip: text;
  color: transparent;
}

.text-is-centered {
  text-align: center;
}

.mont-300-normal {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 10px;
}

/* .title {
  margin-top: 10%;
} */

/* Styles for mobile devices (width <= 767px) */
@media (max-width: 767px) {
  .title {
    margin-top: 50%;
  }
}

/* Styles for tablets (width between 768px and 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    margin-top: 10%;
  }
}

/* Styles for desktops (width > 1024px) */
@media (min-width: 1025px) {
  .title {
    margin-top: 10%;
  }
}

.quotes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quoteText {
  text-wrap: wrap;
  text-align: center;
  letter-spacing: 3px;
}

/* Apply the animation to the class */

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.qoute-button {
  animation: rotate 5s ease-in infinite;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
  gap: 15px;
}

.navItem {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: black;
  border: 0.5px solid transparent;
  border-radius: 20px;
  padding: 0.5em;
  transition: all 0.3s;
}
.navItem:hover {
  border-color: black;
  background: black;
  color: white;
  transform: translateY(-5px);
}

.socialIconsContainer {
  margin-top: 15%;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.workHistoryTitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20% 0 20% 0;
}

.workHistoryText {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 10px;
}

.jobdetailstxt {
  font-family: "Montserrat Alternates", sans-serif;
}

.companiesContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 0 20% 0;
}
